<div class="flip-container" onclick="this.classList.toggle('clic');">
  <div class="flipper">
    <ion-card class="front card first-card">
      <ion-card-header>
        <ion-card-subtitle>Card Front</ion-card-subtitle>
        <ion-card-title>Card Front</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-img src="../../assets/img/fenix.png" ></ion-img> -->
      </ion-card-content>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card class="back card back-first-card">
      <ion-card-header>
        <ion-card-subtitle>Card Back</ion-card-subtitle>
        <ion-card-title>Card Back</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-img src="../../assets/img/fenix.png" ></ion-img> -->
      </ion-card-content>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
</div>