#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .card{
    margin-top:20px; 
  }
  
  .first-card{
    background-color: lightpink ;
  }
  
  .back-first-card{
    background-color: lightskyblue;
  }
    
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
  
  
  // ------------- ANIMATION -------------//
  
  .flip-container{
    perspective: 1000px;
    display: flex;
    flex-direction: column;
  }
  
  .flip-container:hover .flipper, .flip-container.hover .flipper{
    transform: rotateY(180deg);
  }
  
  .flipper{
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front{
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back{
    transform: rotateY(180deg);
  }