.content-title{
  text-align: center;
 }

 .firt-section{
   position: absolute;
   width: 100%;
 }

 .firt-article{
  position: relative;
  top: 0;
  margin: 10px;
}

.second-article{
  position: relative;
  top: 265px;
}

.tirth-article{
  position: relative;
  top: 540px;
}

