.content-title{
  text-align: center;
 }

 .firt-section{
   position: absolute;
   width: 100%;
 }

 .firt-article{
  position: relative;
  top: 0;
}

.second-article{
  position: relative;
  top: 275px;
}

.tirth-article{
  position: relative;
  top: 550px;
}

